.simple-modal .btn-primary
{
	background-color: #2857b6;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	border: none;
	color: #fff;
	box-shadow: 3px 3px 10px #999;
	min-width: 250px;
}

.simple-modal .btn-danger
{
	background-color: #B2313D;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	border: none;
	color: #fff;
	box-shadow: 3px 3px 10px #999;
	min-width: 250px;
}

.simple-modal .simple-modal-title
{
	text-align: center;
}
