.simple-modal
{
	font-size: 13px;
	color: #333;
}

.simple-modal a
{
	font-size: 13px;
	color: #2857b6;
	text-decoration: none;
}

.simple-modal .btn-primary
{
	background-color: #2857b6;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	border: none;
	color: #fff;
	box-shadow: 3px 3px 10px #999;
	min-width: 250px;
}

.simple-modal .btn-danger
{
	background-color: #B2313D;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	border: none;
	color: #fff;
	box-shadow: 3px 3px 10px #999;
	min-width: 250px;
}

.simple-modal .simple-modal-title
{
	text-align: center;
}

hr{
	background-color: #aaa;
	height: 1px;
	border: none;
	margin: 15px 0;
}

input[type="text"], input[type="password"], input[type=email], select
{
    margin: 5px;
    border: solid 1px #aaa;
    padding: 5px;
    font-size: 14px;
    color: #333;
    font-family: sans-serif, Helveica;
    border-radius: 3px;
    box-shadow: 3px 3px 15px #ddd;
	width: 95%;
	display: block;
}

.social-abr
{
	font-size: 20px;
	font-weight: bolder;
	font-family: arial, sans-serif, helvetica;
}

.simple-modal .heading-hr
{
	padding:0;
	margin-top:-15px;
}
